Going to try and aggregate everything into a full panel dataset.

In [1]:
import pandas as pd
import numpy as np
import os,sys

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:


def generalized_cleaning(df):
    
    df_list = []
    for item, g in df.groupby('Data Item'):
        g[item + ' Value'] = g['Value']
        del g['Value']
        g = g[['Year','Week Ending','State', item + ' Value']]
        df_list.append(g)

    for i in range(len(df_list)):
        if i == 0:
            new_df = df_list[0]

        if 0 < i < len(df_list):
            new_df = new_df.merge(df_list[i], on = ['Year','Week Ending','State'])
            
    return new_df

In [3]:
os.listdir('rahul/data')

['soybean_pestmgmt.csv',
 'soybean_condition.csv',
 'soybean_moisture.csv',
 'soybean_yield.csv',
 'soybean_applications.csv']

In [4]:
moisture = pd.read_csv('rahul/data/soybean_moisture.csv')
applications = pd.read_csv('rahul/data/soybean_applications.csv')
condition = pd.read_csv('rahul/data/soybean_condition.csv')
pests = pd.read_csv('rahul/data/soybean_pestmgmt.csv')
soy_yield = pd.read_csv('rahul/data/soybean_yield.csv')

In [5]:
soybean_yield_clean = generalized_cleaning(soy_yield)
applications_clean = generalized_cleaning(applications)
condition_clean = generalized_cleaning(condition)
moisture_clean = generalized_cleaning(moisture)
pests_clean = generalized_cleaning(pests)

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

# What do these look like?

In [20]:
soybean_yield_clean.head()

,Year,Week Ending,State,"SOYBEANS - YIELD, MEASURED IN BU / ACRE Value","SOYBEANS, FOLLOWING ANOTHER CROP (DOUBLE CROPPED) - YIELD, MEASURED IN BU / ACRE Value","SOYBEANS, IRRIGATED - YIELD, MEASURED IN BU / ACRE Value","SOYBEANS, NON-IRRIGATED - YIELD, MEASURED IN BU / ACRE Value","SOYBEANS, NOT FOLLOWING ANOTHER CROP - YIELD, MEASURED IN BU / ACRE Value"
0,2008,NaN,ARKANSAS,31.5,31.0,38.0,28.0,32.0
1,2008,NaN,ARKANSAS,31.5,31.0,38.0,28.0,40.0
2,2008,NaN,ARKANSAS,31.5,31.0,38.0,28.0,39.5
3,2008,NaN,ARKANSAS,31.5,31.0,38.0,28.0,38.5
4,2008,NaN,ARKANSAS,31.5,31.0,38.0,28.0,26.0

In [21]:
applications_clean.head()

,Year,Week Ending,State,"SOYBEANS - PEST MGMT, MEASURED IN PCT OF AREA PLANTED Value","SOYBEANS - PEST MGMT, MEASURED IN PCT OF OPERATIONS Value"
0,2018,NaN,ARKANSAS,44,52
1,2018,NaN,ARKANSAS,44,10
2,2018,NaN,ARKANSAS,44,24
3,2018,NaN,ARKANSAS,44,50
4,2018,NaN,ARKANSAS,44,15

In [22]:
condition_clean.head()

,Year,Week Ending,State,"SOYBEANS - CONDITION, MEASURED IN PCT EXCELLENT Value","SOYBEANS - CONDITION, MEASURED IN PCT FAIR Value","SOYBEANS - CONDITION, MEASURED IN PCT GOOD Value","SOYBEANS - CONDITION, MEASURED IN PCT POOR Value","SOYBEANS - CONDITION, MEASURED IN PCT VERY POOR Value"
0,2019,2019-05-12,LOUISIANA,4,45,45,6,0
1,2019,2019-05-12,NORTH CAROLINA,13,7,80,0,0
2,2019,2019-05-19,LOUISIANA,3,44,44,9,0
3,2019,2019-05-19,NORTH CAROLINA,11,15,74,0,0
4,2019,2019-05-26,LOUISIANA,3,39,56,2,0

In [23]:
pests_clean.head()

,Year,Week Ending,State,"SOYBEANS - PEST MGMT, MEASURED IN PCT OF AREA PLANTED Value","SOYBEANS - PEST MGMT, MEASURED IN PCT OF OPERATIONS Value"
0,2018,NaN,ARKANSAS,44,52
1,2018,NaN,ARKANSAS,44,10
2,2018,NaN,ARKANSAS,44,24
3,2018,NaN,ARKANSAS,44,50
4,2018,NaN,ARKANSAS,44,15

See issues below

# Current inconsistencies
    - Not all the datasets above are for the same locations and periods
    - State vs. county
    - Not all years covered in certain datasets
    - Week ending is only relevant in like one column 
   
# Proposed solutions
    - Just download that data
    - Just stick with state.
    - After the merging is complete, either impute the missing vals in some way or just ignore.
    - Either pick just one week ending, or aggregate.

In [24]:
peter = pd.read_csv('data/Merged_Data.csv')

In [26]:
peter.isna().sum()

COMMODITY                                             0
STATE                                              2485
REGION                                             3250
COUNTY                                             3250
STATE_ANSI                                            0
ASD_CODE                                           3250
COUNTY_ANSI                                        4709
YEAR                                                  0
REFERENCE_PERIOD                                    178
WEEK_ENDING                                       27793
AREA_HARVESTED_in_ACRES                            3250
AREA_PLANTED_in_ACRES                              3250
PRODUCTION_in_BU                                   3250
YIELD_in_BU_/_ACRE                                 3250
CONDITION_in_PCT_POOR                              2586
CONDITION_in_PCT_FAIR                              2485
CONDITION_in_PCT_EXCELLENT                         2537
CONDITION_in_PCT_VERY_POOR                         3387
CONDITION_in_PCT_GOOD                              2485
CONDITION_5_YEAR_AVG_in_PCT_GOOD                  80963
CONDITION_5_YEAR_AVG_in_PCT_VERY_POOR             80963
CONDITION_5_YEAR_AVG_in_PCT_FAIR                  80963
CONDITION_5_YEAR_AVG_in_PCT_EXCELLENT             80963
CONDITION_5_YEAR_AVG_in_PCT_POOR                  80963
CONDITION_PREVIOUS_YEAR_in_PCT_FAIR               78227
CONDITION_PREVIOUS_YEAR_in_PCT_GOOD               78227
CONDITION_PREVIOUS_YEAR_in_PCT_POOR               78227
CONDITION_PREVIOUS_YEAR_in_PCT_VERY_POOR          78227
CONDITION_PREVIOUS_YEAR_in_PCT_EXCELLENT          78227
PROGRESS_in_PCT_PLANTED                           89744
PROGRESS_5_YEAR_AVG_in_PCT_PLANTED                89737
PROGRESS_PREVIOUS_YEAR_in_PCT_PLANTED             99749
PROGRESS_in_PCT_EMERGED                           86110
PROGRESS_5_YEAR_AVG_in_PCT_EMERGED                87655
PROGRESS_PREVIOUS_YEAR_in_PCT_EMERGED             98514
PROGRESS_in_PCT_BLOOMING                          71499
PROGRESS_5_YEAR_AVG_in_PCT_BLOOMING               71498
PROGRESS_PREVIOUS_YEAR_in_PCT_BLOOMING            94844
PROGRESS_in_PCT_SETTING_PODS                      72455
PROGRESS_5_YEAR_AVG_in_PCT_SETTING_PODS           72454
PROGRESS_PREVIOUS_YEAR_in_PCT_SETTING_PODS        94366
PROGRESS_in_PCT_COLORING                          95527
PROGRESS_5_YEAR_AVG_in_PCT_COLORING               95728
PROGRESS_PREVIOUS_YEAR_in_PCT_COLORING            95925
PROGRESS_in_PCT_DROPPING_LEAVES                   75063
PROGRESS_5_YEAR_AVG_in_PCT_DROPPING_LEAVES        74754
PROGRESS_PREVIOUS_YEAR_in_PCT_DROPPING_LEAVES     96128
PROGRESS_in_PCT_HARVESTED                         85873
PROGRESS_5_YEAR_AVG_in_PCT_HARVESTED              85870
PROGRESS_PREVIOUS_YEAR_in_PCT_HARVESTED           98514
PROGRESS_in_PCT_MATURE                           103655
PROGRESS_PREVIOUS_YEAR_in_PCT_MATURE             103672
PRICE_RECEIVED_in_$_/_BU                           1318
ALL_UTILIZATION_PRACTICES_in_$_/_BU                1202
ALL_UTILIZATION_PRACTICES_in_BU                  103716
OFF_FARM_in_BU                                   103716
ON_FARM_in_BU                                    103716
dtype: int64